@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
    background-color: black;
}
.zag{
    width: 100%;
    height: 100px;
    background-color: white;
    color: black;
    padding-left: 500px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
}
.menu{
    width: 100%;
    height: 70px;
    background-color: white;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
}
.AboutUs{
    margin-left: 320px;
    color: black;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    font-size: 20px;
    position: absolute;
    transition: all linear 0.5s;
}
.Jobs{
    margin-left: 600px;
    color: black;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    font-size: 20px;
    position: absolute;
    transition: all linear 0.3s;
}
.Miriporyadok{
    margin-left: 900px;
    color: black;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    position: absolute;
    font-size: 20px;
    transition: all linear 0.3s;
}
.Archiv{
    margin-left: 150px;
    color: black;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    position: absolute;
    font-size: 20px;
    transition: all linear 0.3s;
}
.Archiv:hover{
    margin-left: 150px;
    color: black;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    position: absolute;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: red;
}
.AboutUs:hover{
    margin-left: 320px;
    color: black;
    text-decoration: underline;
    text-decoration-color: red;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    font-size: 20px;
    position: absolute;
}
.Jobs:hover{
    margin-left: 600px;
    color: black;
    text-decoration: underline;
    text-decoration-color: red;
    transition: all linear 0.3s;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    font-size: 20px;
    position: absolute;
}
.Miriporyadok:hover{
    margin-left: 900px;
    color: black;
    text-decoration: underline;
    text-decoration-color: red;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    position: absolute;
    font-size: 20px;
}
.TFO{
    background-color: white;
    width: 350px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: black;
    height: 350px;
    margin-top: 15px;
    margin-left: 900px;
    position: absolute;
    padding: 10px;
    border: solid 5px black;  
}
main{
    background-image:linear-gradient(white, black);
    width: 100%;
    height: 400px;
    margin-top: 40px;
    
}
.pic{
    width: 800px;
    height: 400px;
    background-size: cover;
    background-image:url(07.jpg);
    position: absolute;
}
footer{
    margin-top: 80px;
    width: 100%;
    background-color: white;
    height: 100px;
}
.ContactUs{
    margin-left: 150px;
    color: black;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    position: absolute;
    font-size: 30px;
    transition: all linear 0.3s;
}
.ContactUs:hover{
    margin-left: 150px;
    color: black;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    position: absolute;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: red;
}
.Report{
    margin-left: 800px;
    color: black;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    position: absolute;
    font-size: 30px;
    transition: all linear 0.3s;
}
.Report:hover{
    margin-left: 800px;
    color: black;
    text-decoration: underline;
    text-decoration-color: red;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    position: absolute;
    font-size: 30px;
}
.ar1{
    margin-top: 20px;
    margin-left: 40px;
    font-size: 60px;
    width: 300px;
    height: 80px;
    color: red;
    font-family: 'Roboto', sans-serif;
    transition: all linear 0.3s;
}
.ar2{
    margin-top: 20px;
    margin-left: 40px;
    font-size: 60px;
    width: 300px;
    height: 80px;
    color: red;
    font-family: 'Roboto', sans-serif;
    transition: all linear 0.3s;
}
.ar3{
    margin-top: 20px;
    margin-left: 40px;
    font-size: 60px;
    width: 300px;
    height: 80px;
    color: red;
    font-family: 'Roboto', sans-serif;
    transition: all linear 0.3s;
}
.ar4{
    margin-top: 20px;
    margin-left: 40px;
    font-size: 60px;
    width: 300px;
    height: 80px;
    color: red;
    font-family: 'Roboto', sans-serif;
    transition: all linear 0.3s;
}
.arc{
    background-color: black;
    width: 100%;
    height: 400px;
    margin-top: 40px;
}
.ar1:hover{
    margin-top: 20px;
    margin-left: 40px;
    font-size: 60px;
    width: 300px;
    height: 80px;
    color: white;
    text-decoration:underline;
    text-decoration-color:red;
    font-family: 'Roboto', sans-serif;
}
.ar2:hover{
    margin-top: 20px;
    margin-left: 40px;
    font-size: 60px;
    width: 300px;
    height: 80px;
    color: white;
    text-decoration:underline;
    text-decoration-color:red;
    font-family: 'Roboto', sans-serif;
}
.ar3:hover{
    margin-top: 20px;
    margin-left: 40px;
    font-size: 60px;
    width: 300px;
    height: 80px;
    color: white;
    text-decoration:underline;
    text-decoration-color:red;
    font-family: 'Roboto', sans-serif;
}
.ar4:hover{
    margin-top: 20px;
    margin-left: 40px;
    font-size: 60px;
    width: 300px;
    height: 80px;
    color: white;
    text-decoration:underline;
    text-decoration-color:red;
    font-family: 'Roboto', sans-serif;
}
.ar12{
    margin-top: 20px;
    margin-left: 200px;
    font-size: 60px;
    width: 400px;
    height: 80px;
    color: red;
    font-family: 'Roboto', sans-serif;
    transition: all linear 0.3s;
    position: absolute;
}
.ar22{
    margin-top: 20px;
    margin-left: 200px;
    font-size: 60px;
    width: 400px;
    height: 80px;
    color: red;
    font-family: 'Roboto', sans-serif;
    transition: all linear 0.3s;
    position: absolute;
}
.ar32{
    margin-top: 20px;
    margin-left: 200px;
    font-size: 60px;
    width: 400px;
    height: 80px;
    color: red;
    font-family: 'Roboto', sans-serif;
    transition: all linear 0.3s;
    position: absolute;
}
.ar42{
    margin-top: 40px;
    margin-left: 500px;
    font-size: 60px;
    width: 400px;
    height: 80px;
    color: rgba(255, 0, 0, 100);
    font-family: 'Roboto', sans-serif;
    transition: all linear 0.3s;
    position: absolute;
}
.ar12{
    margin-left: 00px;
    font-size: 60px;
    width: 400px;
    height: 80px;
    color: rgba(255, 0, 0, 100);
    font-family: 'Roboto', sans-serif;
    transition: all linear 0.3s;
    position: absolute;
}
.ar22{
    margin-top: 20px;
    margin-left: 500px;
    font-size: 60px;
    width: 400px;
    height: 80px;
    color: rgba(255, 0, 0, 100);
    font-family: 'Roboto', sans-serif;
    transition: all linear 0.3s;
    position: absolute;
}
.ar32{
    margin-top: 30px;
    margin-left: 500px;
    font-size: 60px;
    width: 400px;
    height: 80px;
    color: rgba(255, 0, 0, 100);
    font-family: 'Roboto', sans-serif;
    transition: all linear 0.3s;
    position: absolute;
}
.yt{
    margin-left: 400px;
    padding-top: 100px;
}
.work{
    background-color: white;
    width: 350px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: black;
    height: 350px;
    margin-top: 15px;
    margin-left: 900px;
    position: absolute;
    padding: 10px;
    border: solid 5px black;   
}
.login{
    background-image: url(img_132207.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-left: 300px;
    margin-top: 0px;
}